[Unit]
Description=Taskbot

[Service]
SuccessExitStatus=143
User=ubuntu
WorkingDirectory=/home/ubuntu
Type=simple
ExecStart=java -jar /home/ubuntu/taskbot.jar
# optional items below
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target